:root {
    --primary-color: bisque;
    --secondary-color: brown;
    --light-gray: rgb(216, 216, 216);
    --header-height: 10vh;
    --footer-height: 3vh;
}

html {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS',
        sans-serif;
}

body,
.root {
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main {
    flex: 20 0 auto;
    padding: 1rem;
}

.hidden {
    display: none;
}

form.add-task label {
    display: block;
}

form.add-task input {
    border: none;
    border-block-end: 2px solid var(--light-gray);
    width: 100%;
    margin-block-end: 1rem;
}

.item-task__start,
.item-task__end {
    flex: 1 0 auto;
}

.item-task__end {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
}

.item-task__middle {
    flex: 5 0 auto;
    display: flex;
    justify-content: space-between;
}

li.item-task .button {
    cursor: pointer;
}

.inline {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.inputs {
    max-width: 20rem;
    height: 1rem;
    margin-inline: 3rem;
}
.age {
    justify-content: space-between;
    border: none;
}
.submit {
    margin-block: 1rem;
}
.label_inputs{
    width: 6rem;
}
.link{
    text-decoration: none;
}
p {
    margin-inline: 0.5rem;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
